# {{ ansible_managed }}
agentaddress udp:{{ snmpd_port }}{% if snmpd_ipv6_enabled %},udp6:[::1]:{{ snmpd_port }}{% endif %}

{% if snmpd_sysLocation is defined %}
sysLocation {{ snmpd_sysLocation }}
{% endif %}
{% if snmpd_sysContact is defined %}
sysContact {{ snmpd_sysContact }}
{% endif %}
{% if snmpd_sysName is defined %}
sysName {{ snmpd_sysName }}
{% elif snmpd_sysName_ansible_inventory_hostname %}
sysName {{ inventory_hostname }}
{% else %}
{% endif %}
{% if snmpd_views is defined %}

# Build SNMP views
{% for view in snmpd_views %}
view {{ view.name }} included {{ view.tree_object }}
{% endfor %}
{% endif %}
{% if snmpd_community_acl is defined %}

# Define (trap)community access control list
{% for acl in snmpd_community_acl %}
{{ acl.type }} {{ acl.community_name }}{% if acl.network is defined %} {{ acl.network }}{% endif %}{% if acl.view is defined %} -V {{ acl.view }}{% endif %}

{% endfor %}
{% endif %}
{% if snmpd_trap_destionation is defined %}

# Trap notifications handling
{% for trapentity in snmpd_trap_destionation %}
{{ trapentity.type }} {{ trapentity.host }}{%if trapentity.community is defined %} {{ trapentity.community }}{% endif %}{% if trapentity.port is defined %} {{ trapentity.port }}{% endif %}

{% endfor %}
{% endif %}
{% if snmpd_auth_traps %}

authtrapenable 1
{% endif %}

{% if snmpd_enable_agentx %}

# Enable master Agent Extensibility Protocol
agentx master
{% endif %}

{% if snmpd_additional_config %}
# Additional configuration

{{ snmpd_additional_config }}
{% endif %}
